.nav-buttons a {
    text-decoration: none;
    font-size: inherit;
    line-height: normal; /* Сделайте такой же, как у строки */
    vertical-align: baseline; /* Или baseline, если нужно */
    display: inline-block;
    line-height: inherit;
}

.btn-catalog {
    width: 8rem;
    text-align: center;
}


.btn-up {
    width: 12rem;
    text-align: center;
}

.product-image {
    padding-left: 0;
    padding-right: 0.5rem;
}

.description-image {
    padding: 0.5rem 0;
}

/* Курсор для select (ChoiceField) */
select {
    cursor: pointer;
}

/* Курсор для радиокнопок */
input[type="radio"] {
    cursor: pointer;
}

/* Курсор для текстовых полей (например, IntegerField) */
input[type="number"], 
input[type="text"] {
    cursor: pointer;
}

.product-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 1rem 1rem;
    border-radius: 5px;
}

#favorites {
    border: 1px solid #ddd;
    padding: 0.5rem 0.5rem;
    border-radius: 5px;
}

#cart {
    border: 2px solid #ddd;
    padding: 1.1rem 1.2rem;
    border-radius: 5px;

}

#scroll-to-details {
    color: #10717e;
    padding-top: 0;
    padding-left: 0.5rem;
}

#scroll-to-details:hover {
    color: #0ea8b0;
}

.delete {
    height: 4rem; 
    border: 2px solid #ddd;
    width: 120px;
}

.delete:hover {
    background-color: #ccc;
    color: #f9f9f9;
    border: 2px solid #585151b9
}


/* Скрытие содержимого */
.tab-content {
    display: none; /* Скрыто по умолчанию */
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 1rem 1rem;
    border-radius: 5px;
}

.tab-content.visible {
    display: block; /* Отображать при необходимости */
}

/* Стили для кнопок */
.tab-button {
    color: black;
    padding: 10px 20px;
    cursor: pointer;
    border-top: 1px solid #ddd;   /* Верхняя граница */
    border-left: 1px solid #ddd; /* Левая граница */
    border-right: 1px solid #ddd; /* Правая граница */
    border-bottom: none;         /* Убираем нижнюю границу */
    background-color: #f9f9f9;
    margin-right: 10px;
    border-top-left-radius: 5px; /* Скругление верхнего левого угла */
    border-top-right-radius: 5px; /* Скругление верхнего правого угла */
    border-bottom-right-radius: 0; /* Оставляем нижние углы без скругления */
    border-bottom-left-radius: 0;

}

.tab-button:hover {
    color: #0ea8b0;
}

.tab-button.active {
    background-color: #f9f9f9;
    color: #10717e;
}

#quantity-input {
    width: 5rem; /* Устанавливаем ширину */
}

#quantity-input:hover {
    border-color: #10717e; /* Бирюзовая рамка */
    box-shadow: 0 0 0 0.15rem rgba(25, 114, 105, 0.2); /* Бирюзовая тень */
}

#quantity-input:focus {
    border: 1.5px solid #10717e ;
    box-shadow: 0 0 0 0.15rem #f9f9f9;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    width: 22px; /* Устанавливаем ширину стрелочек */
    height: 20px; /* Устанавливаем высоту стрелочек */
    background-size: 50%; /* Увеличиваем изображение стрелочек */
}

input[type="number"]::-moz-inner-spin-button {
    width: 22px; /* Для Firefox (ограниченная поддержка) */
    height: 20px;
}

input[type="radio"]:checked {
    accent-color: #10717e; /* Бирюзовый цвет */
}

.threshold-selection, .door-selection, .card-header-select, .card-cart, .delete  {
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.quantity {
    padding: 0.25rem 0.5rem;
}

.order-details {
    margin-bottom: 0.5rem;
}

.threshold-selection {
    cursor: pointer;
}

.card-info-general-door__item {
    transition: all 0.3s ease;
    border: 2px solid transparent;
    padding: 0 0.5rem;
    cursor: pointer;
}

.card-info-general-door__item.selected {
    border: 2px solid #7a5f5d; /* Коричневая окантовка */
    border-radius: 5px;
}

.card-info-general-door__item.selected .card-info-general-door__icon svg path {
    fill: #7a5f5d; /* Меняем цвет иконки на коричневый */
    
}
.card-info-general-door__text {
    padding: 0 0.5rem;
}

#cart:hover {
    border: 2px solid #7a5f5d; /* Коричневая окантовка */
    border-radius: 5px;
    color: #362423;
}

#favorites:hover {
    border: 1px solid #7a5f5d; /* Коричневая окантовка */
    border-radius: 5px;
    color: #362423;
}

button#cart:hover img, button#favorites:hover img {
    filter: brightness(0) saturate(100%) invert(32%) sepia(24%) saturate(538%) hue-rotate(12deg) brightness(83%) contrast(156%);
}

/*
.description-image img:hover, .product-image img:hover  {
    border-radius: 5px;
    box-shadow: 4px 4px 14px rgba(66, 95, 86, 0.5);
    transition: 0.3s;    
}
*/

.product-card:hover {
    border-radius: 5px;
    box-shadow: 4px 4px 14px rgba(66, 95, 86, 0.5);
    transition: 0.3s;    
}

/* Стили модального окна */
.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed;
    z-index: 1000; /* Поверх остального контента */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8); /* Полупрозрачный фон */
    justify-content: center; /* Горизонтальное выравнивание */
    align-items: center; /* Вертикальное выравнивание */
}

/* Картинка внутри модального окна */
.modal-content {
    margin: auto;
    display: block;
    max-width: 70%; /* Максимальная ширина на мобильных устройствах */
    max-height: 70%; /* Максимальная высота */
    width: auto; /* Автоматическая ширина для сохранения пропорций */
    height: auto; /* Автоматическая высота для сохранения пропорций */
    border-radius: 10px;
    object-fit: contain; /* Сохраняет пропорции, вписывая изображение */
}

/* Крестик для закрытия */
.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


@media (min-width: 1119px) {

}


@media (max-width: 1118px) {
    .product-image {
        padding: 0;
    }

    .modal{
        min-width: 80%;

    }

    
}

@media (max-width: 999px){
}


@media (max-width: 520px){
}