
.dropdown:hover .dropdown-menu {
    opacity: 0;
    pointer-events: none;
}

.menu-item {
    padding: 1rem;
}

.menu-item:hover {
    border-radius: 5px;
    box-shadow: 4px 4px 14px rgba(66, 95, 86, 0.2);
    transition: 0.3s;
    color: #10717e;
}

.product-name {
    padding-top: 0.7rem;
}


@media (min-width: 1119px) {
}


@media (max-width: 1118px) {
}

@media (max-width: 999px){
}


@media (max-width: 520px){
}