#cart {
    min-width: 9.5rem;
}

.favorite-card {
    padding: 1rem;
}

.favorite-card:hover {
    border-radius: 5px;
    box-shadow: 4px 4px 14px rgba(66, 95, 86, 0.2);
    transition: 0.3s;
}

.product-name:hover {
    color: #10717e;
}

.fav-table {
    margin-top: 1rem;
}


.fav-table-big-field {
    height: 3.3rem;
}

.fav-table tr{
    height: 2.3rem;
}

.product-name {
    display: flex; 
    align-items: center; 
    padding: 0 0.5rem; 
    min-height: 4rem;
}

.mob-img {
    display: none;
}

.fav-table-first {
    width: 8rem;
}

.card-cart {
    padding: 0;
}

.form {
    padding: 0;
}

@media (min-width: 1119px) {

}

@media (max-width: 1199px) {
    .del-form {
        width: 7rem;
    }
}

@media (max-width: 1118px) {
    .product-image {
        padding: 0;
    }

    .fav-table-first {
        width: 8rem;
    }

    .fav-table-big-field {
        height: 6rem;
    }
    
    .fav-table tr{
    height: 2.5rem;
    }
}

@media (max-width: 991px){

    .mob-no {
        display: none;
    }

    .mob-img {
        display: inline;
    }

    .quantity {
        font-size: 15px;
    }

    .del-form {
        width: 6rem;
    }

    #cart {
        min-width: 6.5rem;
    }

}


@media (max-width: 767px){

    .fav-table-first {
        width: 8rem;
    }

    .fav-table-big-field {
        height: 2rem;
    }

    #cart {
        min-width: 8rem;
    }
}

@media (max-width: 575px){
    #cart {
        min-width: 10rem;
    }

}

@media (max-width: 500px){
    #cart {
        min-width: 7.8rem;
    }

    .quantity {
        font-size: 14px;
        padding: 3px;
    }

}

@media (max-width: 400px){

    .quantity {
        font-size: 13px;
        padding: 2px;
    }

    #cart {
        min-width: 5.5rem;
    }

}


@media (max-width: 369px){

    .quantity {
        font-size: 12px;
    }
}