
.table {
    width: 100%;
    border-collapse: collapse;
}

.table thead {
    display: table-header-group;
}

.table tr {
    display: table-row;
}

.table td,
.table th {
    padding: 0.5rem 0.2rem;
    text-align: left;
    vertical-align: middle;
}

.product-img {
    width: 150px;
}

.mob-no {
    display: none;
}


.update-btn {
    display: none;
  }

.order-text {
    display: none;
}


@media (max-width: 1399px) {


}


@media (min-width: 992px) {


}


@media (max-width: 1118px) {
    .product-img {
        width: 150px;
    }
}

@media (max-width: 991px){

    .td-price, .td-quantity, .td-img {
        width: 100%;
    }

    
    .mob-no {
        display: block;
    }


    .table-product {
        display: block;
        width: 100%;
    }

    .table-product thead {
        display: none; /* Убираем заголовки таблицы */
    }

    .table-product tr {
        display: block;
        margin-bottom: 1rem;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 1rem;
    }

    .table-product td {
        display: flex;
        padding: 0.5rem 0;
        border-bottom: 1px solid #eee;
    }
    
    .mob-td-one {
        justify-content: end;
    }

    .mob-td-sev {
        justify-content: space-between;
    }

    .table-product div {
        padding: 0 7px;
        
    }

    .table-product td:last-child {
        border-bottom: none;
    }

    .product-img {
        max-width: 150px;
        height: auto;
        border-radius: 5px;
    }




}


@media (max-width: 768px) {

    .product-img {
        max-width: 150px;
        height: auto;
        border-radius: 5px;
    }



    .table-product div {
        padding: 0 3px;
        font-size: 13.5px;
    }

    .table-product td {
        font-size: 13.5px;
    }

}

@media (max-width: 576px){

    .product-img {
        max-width: 120px;
        height: auto;
        border-radius: 5px;
    }

    .table-product div {
        padding: 0 2px;
        font-size: 12px;        
    }

    .table-product td {
        font-size: 12px;
    }

    .alert {
        font-size: 12px;
    }

    .table td {
        font-size: 13px;
    }

    h2 {
        font-size: 23px;
    }

}

@media (max-width: 399px){

    .product-img {
        max-width: 100px;
        height: auto;
        border-radius: 5px;
    }

    .table-product div {
        font-size: 11px;        
    }

    .table-product td {
        font-size: 11px;
    }

    .alert {
        font-size: 11px;
    }

    .table td {
        font-size: 12px;
    }

    h2 {
        font-size: 20px;
    }

}

@media (max-width: 360px){
    .table-product div {
        font-size: 10px;     
    }

    .table-product td {
        font-size: 10px;
    }

    .alert {
        font-size: 10px;
    }

}