

.btn-catalog {
    width: 8rem;
    text-align: center;
}

.btn-up {
    width: 12rem;
    text-align: center;
}




.products-list h5 {
    font-size: 18px;
}



@media (max-width: 1399px) {


}


@media (min-width: 992px) {


}


@media (max-width: 1118px) {

}

@media (max-width: 991px){

}


@media (max-width: 768px) {


}

@media (max-width: 576px){


}

@media (max-width: 399px){




}

@media (max-width: 360px){
 

}