{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="{% static 'imgs/icons/favicon.ico' %}"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/about-styles.css' %}" />
    <title>О сайте</title>
  </head>

  <main class="main">
    <div class="container">
      <br>
      <div class="row">
        <div class="col text-center">
          <h2>О сайте</h2>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          Данный сайт является учебным проектом разработчика Скворцова Романа. 
          Сайт на написан на Python с помощью Django, весь Frontend реализован в 
          html шаблонах с помощью Bootstrap, CSS, AJAX (JavaScript).
        </div>
      </div>
      <div class="row">
        <div class="col">
          Проект сделан монолитной архитектурой - всю логику обрабатывает Django, Nginx обрабатывает стили и изображения,
          Celery + Redis для уведомлений и электронной почты, база данных PostgreSQL. И все объединено в Docker-compose.
        </div>
      </div>
      <div class="row">
        <div class="col">
          Проект относительно просто развернуть на любом сервере - подключаем сервер к github, настраиваем его,
          разворачиваем контейнеры Docker-compose, загружаем дамп базы данных, и все работает.
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          Разрабатываю проект, используя локальный сервер Django с настройками для разработки:<br /> 
          python manage.py runserver --settings=artadoors.settings.dev<br /> 
          Применяю систему контроля версий Git, можно вести разработку для тестирования новых функций и их последующего объединения (merge) 
          в основную ветку. Настроен автоматический деплой: при пуше в master сервер обновляется, обеспечивая актуальность проекта 
          без ручного вмешательства.
          <br /> 
          Код проекта открыт для просмотра на GitHub по ссылке <a href="https://github.com/roman-skwortsoff/artadoors">https://github.com/roman-skwortsoff/artadoors</a>. 
        </div>
      </div>
      <br>
      <div class="row text-center">
        <h3>О себе:

        </h3>
      </div>

      <div class="row d-flex align-items-center">
        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
          <img
              src="{% static 'imgs/myfoto.jpg' %}"
              alt="что-то не так, как надо"
              style="width: 100%; border-radius: 50%;"
          />

        </div>
        <div class="col-xl-10 col-lg-10 col-md-9 col-sm-8 col-8 ">
          С детства интересуюсь компьютерными технологиями, ещё в школе начал
          изучать основы программирования. Однако позже выбрал другой путь
          профессионального развития.
          <br />
          Относительно недавно я вернулся к "истокам" и начал активно
          развиваться в сфере IT. Сначала увлекся анализом данных, изучил
          Python, библиотеки Pandas и Numpy, т.к. увидел прямую пользу
          создаваемой программы на существующем рабочем месте.
          <br />
          Следующим этапом стало решение перейти в разработку сайтов. Прошёл
          курс «Python Backend-разработчика» на Skillbox, самостоятельно дополнил 
          знания Django, изучил основы CSS JavaScript.
          <br />Мои проект, выполненный полностью самостоятельно,
          демонстрирует мои навыки и компетенции.          
        </div>
      </div>
      <br>

      <div class="row">
        <div class="col">
          В данный момент в активном поиске работы Python Backend разработчика на Django.<br /> В перспективе укрепить знания Django, поднять свой уровень 
          знаний, позже выучить FastApi и React.js .<br /> Вы можете связаться со мной любым удобным для вас способом, указанным на сайте, либо на номеру телефона 
          <strong>+7-951-1961638</strong>, по обычной связи или по Whatsapp и Telegram.
        </div>
      </div>
      <br>
      <br>
      <div class="row text-center">
        <h3>Django для интернет-магазина Двери АРТА</h3>
      </div>
      <div class="row">
        <div>
          Двери как продукт достаточно сложный - цена и характеристики зависят от размеров, типа ручек и наличия порога. 
          Вся эта логика нужна в заказах, соответственно и в сравнении товаров. В 1С-Битрикс подобный функционал сложно реализовать 
          без значительных затрат на кастомизацию, тогда как Django предоставляет гибкость в настройке товаров, заказов и интерфейса. 
          Ключевой функционал уже разработан, а для завершения проекта потребуется 170-200 часов (в зависимости от наполнения статей 
          для SEO). Если интересно вывести проект на коммерческий уровень, буду рад доработать и сделать все необходимые улучшения.          
        </div>
      </div>
      <br><br><br><br><br>
        
      <div class="row justify-content-between">
        <div class="col" ><a href="{{ request.META.HTTP_REFERER|default:'/' }}" class="mybtn btn-back"> <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
          </svg> Назад</span></a>
        </div>
      
        <div class="col text-end" ><a href="/" class=""> 
          <span>Стартовая страница сайта</span></a>
        </div>
      </div>
      <br>
      <br>



  
    </div>
        
  </main>

</html>
