{% extends 'base-page.html' %} {% load static %} {% block title %}
<title>Пароль изменен</title>
{% endblock title %} {% block container %}

<main class="main">
    <div class="container">
      <br />
      <div class="row other_text">
        <div class="col"><a href="/">Главная </a> > <a href="{% url 'user_detail' %}">Личный кабинет</a> > <a href="{% url 'edit_user' %}">Изменение данных</a> > <a href=".">Изменение пароля</a></div>
      </div>
      <br />
      <div class="row">
        <h2>Пароль успешно изменен!</h2>
      </div>
      <br>
      <div class="row">
        <p>Вы успешно изменили пароль. <a href="{% url 'user_detail' %}">Вернуться в профиль.</a></p>
      </div>
      <br>
    </div>
</main>
{% endblock %}
