{% extends 'base-page.html' %} {% load static %} {% block title %}
<title>Новый пароль</title>
{% endblock title %}

{% block container %}

<main class="main">
  <div class="container">
    <br>
    <div class="row other_text">
      <div class="col"><a href="/">Главная </a> > <a href="{% url 'login' %}">Вход</a> > <a href=".">Восстановление пароля</a></div>
    </div>
    <br>
    <div class="row">
      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2"></div>
      <div class="col-xl-6 col-lg-6 col-md-8 col-sm-7 text-center"> 
          <h2>Новый пароль</h2>
        </div>
    </div>
    <br>
    <form method="post">
        {% csrf_token %}
        <div class="row">
          <div class="col text-center">
              <span style="color: red; font-size: 12px;" class="form-error">
                  {{ form.non_field_errors }}
              </span>
          </div>
        </div>
        {% for f in form %}
        <div class="row" style="padding-bottom: 10px;">
          <div class="col-xl-3 col-lg-3 col-md-2 col-sm-0"></div>
          <div class="col-xl-2 col-lg-2 col-md-3 col-sm-5">
            <label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">{{ f }}</div>
        </div>
        <div class="row">
            <div class="col text-center">
                <span style="color: red; font-size: 12px;" class="form-error">{{ f.errors }} </span>
            </div>
        </div>
        {% endfor %}
        <div class="row">
          <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2"></div>
          <div class="col-xl-6 col-lg-6 col-md-8 col-sm-5 text-center"> 
              <button type="submit" style="padding: 5px 10px;">Сохранить</button>
          </div>
      </div>
    </form>
    <br>
  </div>
</main>

{% endblock %}
