{% extends 'base-page.html' %}
{% load mptt_tags %}
{% load static %}

{% block title %}
<title>Каталог</title>
<link rel="stylesheet" href="{% static 'css/catalog-styles.css' %}" />
{% endblock %}

{% block container %}
<main class="main">
    <div class="container">
        <br>
        <h5>На данной странице нужно вставить страницы из КП - Сауна Стандарт, Сауна Классика, Сауна Люкс.</h5>
        <h5>описание, ссылки на категории и навигационные клавиши</h5>
    </div>
    <br>
</main>

{% endblock %}

