{% extends 'base-page.html' %}
{% load mptt_tags %}
{% load static %}

{% block title %}
<title>Каталог</title>
<link rel="stylesheet" href="{% static 'css/catalog-styles.css' %}" />
{% endblock %}

{% block container %}
<main class="main">
    <div class="container">
        <br>
        <h5>На данной странице нужно вставить страницу из КП - Статус с термолипе черные, написать, что если хотят серебристые петли, то через менеджера.</h5>
        <h5>описание, ссылку на категорию и навигационные клавиши</h5>
    </div>
    <br>
</main>

{% endblock %}

