{% extends 'base-page.html' %}
{% load mptt_tags %}
{% load static %}

{% block title %}
<title>Каталог</title>
<link rel="stylesheet" href="{% static 'css/catalog-styles.css' %}" />
{% endblock %}

{% block container %}
<main class="main">
    <div class="container">
        <br>
        <h4>Нужно написать текст и показать фото элементов двери, сделать кнопку назад, и ссылки на 2 категории - в деревянной коробке Статус ВР, в алюминиевой коробке Хамам Престиж ВР.</h4>
    </div>
    <br>
</main>

{% endblock %}

