{% extends 'base-page.html' %}
{% load mptt_tags %}
{% load static %}

{% block title %}
<title>Каталог</title>
<link rel="stylesheet" href="{% static 'css/catalog-styles.css' %}" />
{% endblock %}

{% block container %}
<main class="main">
    <div class="container">
        <br>
        <h4>Нужно написать текст и показать фото элементов двери, сделать кнопку назад, и ссылка на категорию - Хамам Элит с WC замком. Так же упомянуть, что без замка в баню и хамам обычные двери Хамам Элит</h4>
    </div>
    <br>
</main>

{% endblock %}

