{% extends 'base-page.html' %}
{% load static %}
{% load cart_tags %}

{% block title %}
<title>Корзина</title>
<link rel="stylesheet" href="{% static 'css/product-styles.css' %}" />
<link rel="stylesheet" href="{% static 'css/cart-styles.css' %}" />
{% endblock %}

{% block container %}
<div class="main">

    <div class="container">
        <br>
        <div class="row other_text">
            <div class="col"><a href="/">Главная </a> > <a href="{% url 'shop:cart' %}">Корзина</a>
            </div>
        </div>
        <br>
        <h1>Корзина</h1>
        {% if messages %}
        <div class="row">
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <div class="row">
        {% if cart_items %}
        <table class="table">
            <tbody>
                {% for item in cart_items %}
                <tr>
                    <td class="mob-td-sev">
                        <strong>Дверь:</strong>
                        <div><a href="{% url 'shop:product-view' item.product.slug %}">
                            {{ item.product.name }}
                        </a></div>
                    </td>
                    <td class="mob-td-one td-img">
                        {% with first_image=item.product.images.all|first %}
                        <img class="product-img" src="{{ first_image.image.url }}" alt="{{ product.name }}">
                        {% endwith %}
                    </td>
                    <td class="mob-td-sev">
                        <strong>Детали:</strong>
                        <div>Размер проема: <br class="mob-no">{{ item.size_option.size_name }}</div>
                        <div>Открывание: <br class="mob-no">{{ item.opening_side }}</div>
                        <div>Порог: <br class="mob-no">{{ item.threshold }}</div>
                        <div>Ручка: <br class="mob-no">{{ item.handle_option }}</div>
                    </td>
                    <td class="td-price mob-td-sev">
                        <strong>Цена:</strong>
                        <div>{{item.price|floatformat:0}} руб.</div>
                    </td>
                    <td class="td-quantity mob-td-sev">
                        <strong>Количество:</strong>
                        <form method="POST" class="d-flex align-items-center" >
                            {% csrf_token %}
                            <input type="hidden" name="action" value="update">
                            <input type="hidden" name="cart_id" value="{{ item.id }}">
                            <input type="number" id="quantity-{{ item.id }}" name="quantity" class="form-control quantity-input" data-id="{{ item.id }}" style="width: 4.5rem;" value="{{ item.quantity }}" min="1">
                            <button type="submit" class="update-btn update-btn[data-id={{ item.id }}]" data-id="{{ item.id }}">
                                <svg xmlns="http://www.w3.org/2000/svg" 
                                width="22" 
                                height="22" 
                                fill="currentColor" 
                                class="bi bi-arrow-counterclockwise" 
                                viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2z"/>
                                <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466"/>
                                </svg>
                            </button>
                        </form>
                    </td>
                    <td class="mob-td-sev">
                        <strong>Стоимость:</strong> <div>{{ item.total_price|floatformat:0 }} руб.</div>
                    </td>
                    <td class="mob-td-one">
                        <form method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="action" value="remove">
                            <input type="hidden" name="cart_id" value="{{ item.id }}">
                            <button type="submit" class="delete-btn">
                                <svg xmlns="http://www.w3.org/2000/svg" 
                                width="24" 
                                height="24" 
                                fill="currentColor" 
                                class="bi bi-x-lg" 
                                viewBox="0 0 16 16">
                                <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                                </svg></button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        </div>
        <br>
        
        <h4>Итоговая стоимость: {{ cart_items|sum_total|floatformat:0 }} руб.</h4>
        <div class="order-text">*перед тем как оформить заказ, обновите количество товара. Это нужно для того, чтобы стоимость Вашего заказа была рассчитана верно</div>
         <a href="{% url 'shop:order' %}">
        <button id="show-order-form" class="order">Оформить заказ</button></a>
    
        {% else %}
        
        <br>
        <h4 style="margin-left: 30px;">Ваша корзина пуста.</h4>
        {% endif %}
        
    
        <div style="margin-top: 30px;"><a href="{% url 'shop:catalog' %}" class="mybtn">Вернуться к покупкам</a></div>
    </div>

    <br>
    <br>

    
    <script>
        document.querySelectorAll('.quantity-input').forEach(function (input) {
            input.addEventListener('input', function () {
                const updateBtn = document.querySelector(`.update-btn[data-id="${input.dataset.id}"]`);
                const orderText = document.querySelector(`.order-text`);
                if (updateBtn !== null) { // Проверяем существование элемента
                    updateBtn.style.display = 'block';
                    orderText.style.display = 'block';
                }
            });
        });

    </script>
    
</div>
    {% endblock container %}