{% extends 'base-page.html' %}
{% load static %}
{% load cart_tags %}

{% block title %}
<title>Корзина</title>
<link rel="stylesheet" href="{% static 'css/product-styles.css' %}" />
{% endblock %}

{% block container %}

<div class="container">
    <h1>Корзина</h1>
    {% if messages %}
    <div class="row">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% if cart_items %}
    <table>
        <thead>
            <tr>
                <th>Товар</th>
                <th>Размер</th>
                <th>Открывание</th>
                <th>Порог</th>
                <th>Ручка</th>
                <th>Цена за единицу</th>
                <th>Количество</th>
                <th>Общая цена</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart_items %}
            <tr>
                <td>{{ item.product.name }}</td>
                <td>{{ item.size_option.size_name }}</td>
                <td>{{ item.opening_side }}</td>
                <td>{{ item.threshold }}</td>
                <td>{{ item.handle_option }}</td>
                <td>{{ item.price }} руб.</td>
                <td>
                    <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="update">
                        <input type="hidden" name="cart_id" value="{{ item.id }}">
                        <input type="number" name="quantity" value="{{ item.quantity }}" min="1">
                        <button type="submit">Обновить</button>
                    </form>
                </td>
                <td>{{ item.total_price }} руб.</td>
                <td>
                    <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="remove">
                        <input type="hidden" name="cart_id" value="{{ item.id }}">
                        <button type="submit">Удалить</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>Итоговая стоимость: {{ cart_items|sum_total }} руб.</p>

    <!-- Кнопка "Заказать" -->
    <button id="show-order-form" class="btn btn-primary">Оформить заказ</button>

    <!-- Форма заказа -->
    <div id="order-form" style="display: none; margin-top: 20px;">
        <h2>Детали заказа</h2>
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="action" value="checkout">
            <div class="form-group">
                <label for="last_name">Фамилия</label>
                <input type="text" class="form-control" id="last_name" name="last_name" value="{{ initial_data.last_name }}" required>
            </div>
        
            <div class="form-group">
                <label for="first_name">Имя</label>
                <input type="text" class="form-control" id="first_name" name="first_name" value="{{ initial_data.first_name }}" required>
            </div>
        
            <div class="form-group">
                <label for="phone">Номер телефона</label>
                <input type="tel" class="form-control" id="phone" name="phone" value="{{ initial_data.phone }}" required>
            </div>
        
            <div class="form-group">
                <label for="email">Электронная почта</label>
                <input type="email" class="form-control" id="email" name="email" value="{{ initial_data.email }}" required>
            </div>
        
            <div class="form-group">
                <label for="address">Адрес доставки:</label>
                <input type="text" class="form-control" id="address" name="address" value="{{ initial_data.address }}">
            </div>
            <div class="form-group">
                <label for="delivery_method">Способ доставки</label>
                <select class="form-control" id="delivery_method" name="delivery_method" required>
                    <option value="ТК Деловые линии">ТК Деловые линии</option>
                    <option value="ТК КИТ">ТК КИТ</option>
                    <option value="ТК Байкал-Сервис">ТК Байкал-Сервис</option>
                    <option value="Самовывоз">Самовывоз</option>
                    <option value="Сборный груз (проходящая машина), для близлежащих регионов">Сборный груз (проходящая машина), для близлежащих регионов</option>
                    <option value="Другой вариант">Другой вариант</option>
                </select>
            </div>
            <!-- Поле custom_delivery -->
            <div class="form-group" id="custom_delivery_group" style="display: none;">
                <label for="custom_delivery">Введите способ доставки</label>
                <input type="text" class="form-control" id="custom_delivery" name="custom_delivery">
            </div>
            <div class="form-group">
                <label for="address">Адрес доставки:</label>
                <input type="address" class="form-control" id="address" name="address">
            </div>
            <div class="form-group">
                <label for="payment_method">Способ оплаты</label>
                <select class="form-control" id="payment_method" name="payment_method" required>
                    <option value="Оплата по QR коду">Оплата по QR коду</option>
                    <option value="Оплата переводом на карту">Оплата переводом на карту</option>
                    <option value="Банковский перевод с НДС">Банковский перевод с НДС</option>
                    <option value="Банковский перевод без НДС">Банковский перевод без НДС</option>
                    <option value="Оплата картой в офисе">Оплата картой в офисе</option>
                    <option value="Оплата наличными в офисе">Оплата наличными в офисе</option>
                </select>
            </div>
            <button type="submit" class="btn btn-success">Подтвердить заказ</button>
        </form>
    </div>
    {% else %}
    <p>Ваша корзина пуста.</p>
    {% endif %}

    <a href="{% url 'shop:catalog' %}" class="btn btn-secondary">Вернуться к покупкам</a>
</div>

<script>
    document.getElementById("show-order-form").addEventListener("click", function () {
        document.getElementById("order-form").style.display = "block";
        this.style.display = "none";
    });
    document.getElementById('delivery_method').addEventListener('change', function () {
        const customDeliveryGroup = document.getElementById('custom_delivery_group');
        if (this.value === 'Другой вариант') {
            customDeliveryGroup.style.display = 'block';
        } else {
            customDeliveryGroup.style.display = 'none';
        }
    });
</script>

{% endblock %}
