{% extends 'base-page.html' %}
{% load mptt_tags %}
{% load static %}

{% block title %}
<title>Каталог</title>
<link rel="stylesheet" href="{% static 'css/catalog-styles.css' %}" />
{% endblock %}

{% block container %}
<main class="main">
    <div class="container">
        <br />
            <div class="row other_text">
                <div class="col"><a href="/">Главная </a> > <a href="/shop/">Каталог</a></div>
            </div>
        <br>
        <div class="row justify-content-center">   
            {% for parent, childrens in family.items %}
            <div class="col-хl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 text-center ">
	            <a href="{{parent.get_absolute_url}}"><h3 class="menu-item">{{ parent.temp_name }}</h3></a>
                {% for child in childrens %}
                    <a href="{{child.get_absolute_url}}">
                    <div class="row text-start menu-item"> 
                        <div class="col-5">
                        {% with first_image=child.images.all|first %}                   
                            <img src="{{ first_image.image.url }}" 
                            title="{{child.temp_name}}" 
                            width="250px"
                            alt="{{child.temp_name}}"
                            style="border-radius: 10px;"> 
                            {% endwith %}
                        </div>    
                        <div class="col-7">                         
                            <h5>{{ child.temp_name }}</h5>
                            <div class="other_text">{{child.description}}</div>
                        </div>                    
                    </div>
                </a>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
    <br>
</main>

{% endblock %}

