{% extends 'base-page.html' %}
{% load mptt_tags %}
{% load static %}

{% block title %}
<title>{{category.title}}</title>
<link rel="stylesheet" href="{% static 'css/catalog-styles.css' %}" />
{% endblock %}

{% block container %}
<main class="main">
<div class="container">
	<br>
	<div class="row other_text">
		<div class="col"><a href="/">Главная </a> > <a href="{% url 'shop:catalog' %}">Каталог</a>
		{% for ancestor in ancestors %}
		 	> <a href="{% url 'shop:product-by-category' category_slug=ancestor.slug %}"> {{ ancestor.temp_name }}</a>
		{% endfor %}
		> <a href="{% url 'shop:product-by-category' category_slug=category.slug %}"> {{ category.temp_name }}</a>
		</div>
	</div>
	<br>

	<div class="row cat-title">
		<div class="col-1 hidden"></div>
		<div class="col">
			{% if ancestors %}
				{% if ancestors|length == 1 %}
					{% if childrens|length > 0 %}
					<h5>Варианты исполнения дверей {{category.title}}</h5>
					{% endif %}
				{% elif ancestors|length >= 2 %}
					{% if childrens|length > 0 %}
						{% for item in ancestors|slice:"1:2" %}
						<h5>Варианты исполнения дверей {{ item.temp_name }}</h5>
						{% endfor %}
					{% endif %}
				{% endif %}
			{% else %}
			<h3>{{category.title}} представлены следующими комплектациями:</h3>	
			{% endif %}
		</div>
	</div>

	<div class="row justify-content-center cat-items">
	{% for child in childrens %}
		<div class="col-хl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 text-center">
		<a href="{% url 'shop:product-by-category' category_slug=child.slug %}">
			<div class="row text-start menu-item"> 
				<div class="col-4">
				{% with first_image=child.images.all|first %}                   
					<img src="{{ first_image.image.url }}" 
					title="{{child.temp_name}}" 
					width="125px"
					alt="{{child.temp_name}}"
					style="border-radius: 5px;"> 
				{% endwith %}
				</div>    
				<div class="col-8 cat-name">                      
					<h5>{{ child.temp_name }}</h5>
					<div class="other_text">{{child.description}}</div>
				</div>
			</div>
		</a>
		</div>
	{% endfor %}
    </div>
	<br>
	<div class="row cat-name">
		<div class="col-1"></div>
		<div class="col">
	{% if ancestors %}
		<h3>Двери {{category.title}}:</h3>
	{% else %}
		<h3>{{category.title}}:</h3>
	</div>
	{% endif %}
	</div>
	<div class="row justify-content-center">
	{% for .,product in products.items %}
		<div class="col-хl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 text-center products-list">
			<a href="{% url 'shop:product-view' product_slug=product.slug %}">

					<div class="col menu-item">
						{% with first_image=product.images.all|first %}
						<img src="{{ first_image.image.url }}"
               			title="{{product.temp_name}}"
               			width="300px"
               			alt="{{product.temp_name}}"
               			style="border-radius: 10px">
            			{% endwith %}
						<div class="product-name">
						<h5 style="min-height: 3rem;">{{ product.name }}</h5>
						<h5>от {{ product.base_price }} руб.</h5></div>

				</div>
			</a>
		</div>
	{% endfor %}
	</div>

</div>
<br>
</main>

{% endblock container %}