{% extends 'base-page.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}
<title>Избранное</title>
<link rel="stylesheet" href="{% static 'css/product-styles.css' %}" />
<link rel="stylesheet" href="{% static 'css/favorites-styles.css' %}" />
{% endblock %}

{% block container %}
<div class="main">

<div class="container">
    <br>
	<div class="row other_text">
		<div class="col"><a href="/">Главная </a> > <a href="{% url 'shop:favorites' %}">Избранное</a>
        </div>
    </div>
    <br>
    <h1>Избранное</h1>
    {% if messages %}
        <div class="row">
        {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
            {{ message }}
              </div>
        {% endfor %}
        </div>
    {% endif %}
    {% if favorite_items.exists %}
    <div class="row justify-content-center">
    {% for item in favorite_items %}

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12"  > 
            <div class="favorite-card product-card">
            <a href="{% url 'shop:product-view' item.product.slug %}" >
                <h4 class="product-name" >{{ item.product.name }}</h4></a>
            <div>
            {% with first_image=item.product.images.all|first %}                   
				<img 
					src="{{ first_image.image.url }}" 
					title="{{ product.name }}" 
					alt="{{ product.name }}"
					style="border-radius: 5px; max-height: 350px; cursor: pointer;"
                    onclick="openModal('{{ first_image.image.url }}')"
				> 
			{% endwith %}
            </div>

            <table class="fav-table">
                <tbody>
                <tr>
                    <td class="fav-table-first">Размер проема:</td>
                    <td>{{ item.size_option.size_name }} мм</td>
                </tr>
                <tr>
                    <td>Размер коробки:</td>
                    <td>{{ item.box_size }} мм</td>
                </tr>
                <tr>
                    <td>Размер полотна:</td>
                    <td>{{ item.glass_size }} мм</td>
                </tr>
                {% for key, value in item.product.characteristics.items %}
                <tr>
                    <td
                    {% if key|contains:"Петли" or key|contains:"Стекло" or key|contains:"Закрывание"%}
                     class="fav-table-big-field"
                    {% endif %} >{{ key }}:</td>
                    <td >{{ value }}</td>
                </tr>
			    {% endfor %}
                <tr>
                    <td class="fav-table-big-field">Ручка: </td>
                    <td>{{ item.handle_option.handle_name }}</td>
                </tr>
                <tr>
                    <td>Порог: </td>
                    <td>{{ item.threshold }}</td>
                </tr>
                <tr>
                    <td>Открывание:</td>
                    <td>{{ item.opening_side }}</td>
                </tr>
                <tr>
                    <td>Приточка воздуха: </td>
                    <td>{{ item.air_gap }}</td>
                </tr>
                <tr>
                    <td>Цена: </td>
                    <td>{{ item.price|floatformat:0 }} руб.</td>
                </tr>
                </tbody>
            </table>

            <div class="row d-flex align-items-center card-cart"> 
		        <form method="POST" class="d-flex justify-content-center align-items-center col-xxl-5 col-xl-6 col-lg-7 col-md-8 col-sm-6 col-7 form">
                    {% csrf_token %}
                    <div class="quantity ">
                        <label for="quantity-input">Количество:</label>
                        <input type="hidden" name="action" value="add_to_cart">
                        <input type="hidden" name="favorite_id" value="{{ item.id }}">
                        <input type="number" name="quantity" id="quantity-input" value="1" min="1" max="100" class="form-control" style="width: 70px; margin-right: 10px;">
                    </div>
                    <div class="cart">
                        <button id="cart" type="submit" name="action" value="add_to_cart"> 
                        <img
                        src="{% static 'imgs/icons/cart-icon.svg' %}"
                        alt="В корзину"
                        title="В корзину"
                        width="28"
                        height="28"
                        style="margin-top: -0.2rem;"
                          /><span class="mob-no">В корзину</span></button>
                    </div>
                </form>
                <div class="col-xxl-7 col-xl-6 col-lg-5 col-md-3 col-sm-6 col-5 del-form">
                    <form method="POST" class="form"  >
                        {% csrf_token %}
                        <input type="hidden" name="action" value="remove">
                        <input type="hidden" name="favorite_id" value="{{ item.id }}">
                        <button type="submit" class="btn delete"><span class="mob-img"><svg xmlns="http://www.w3.org/2000/svg" 
                            width="20" 
                            height="20" 
                            fill="currentColor" 
                            class="bi bi-x-lg" 
                            viewBox="0 0 16 16">
                            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                            </svg></span>
                            <span class="mob-no">Удалить</span>
                        </button>
                    </form>
                </div> 
            </div>
                       
            </div>
        </div>
    {% endfor %}
    {% else %}
    <br>
 
    <h4 class="row" style="margin-left: 30px;">Избранное пусто. Добавьте товары в избранное!</h4>
    <br>

    {% endif %}
        
<div class="nav-buttons">
<div class="d-flex justify-content-between align-items-center">
    <div class="col" ><a href="{{ request.META.HTTP_REFERER|default:'/' }}" class="mybtn btn-back"><svg style="margin-top: -4px;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
      </svg> Назад</a></div>
    <div class="col text-end"><a href="{% url 'shop:catalog' %}" class="mybtn btn-catalog"">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
            <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783"/>
        </svg>
    Каталог</a></div>
</div>
</div>


<!-- Модальное окно -->
<div id="imageModal" class="modal" onclick="closeModal()">
    <span class="close" onclick="closeModal()">&times;</span>
    <img class="modal-content" id="modalImage" src="" alt="Modal Image">
</div>
<br>

<script src="{% static 'js/favorite-view.js' %}"></script>
</div>

</div>


{% endblock %}
