{% extends 'base-page.html' %}
{% load static %}
{% load cart_tags %}

{% block title %}
<title>Заказ</title>
<link rel="stylesheet" href="{% static 'css/product-styles.css' %}" />
<link rel="stylesheet" href="{% static 'css/cart-styles.css' %}" />
{% endblock %}

{% block container %}
<div class="main">

    <div class="container">
        <br>
        <div class="row other_text">
            <div class="col"><a href="/">Главная </a> > <a href="{% url 'shop:cart' %}">Корзина</a> > <a href="{% url 'shop:order' %}">Заказ</a> 
            </div>
        </div>
        <br>
        <h1>Заказ</h1>
        <div class="row">
        {% if cart_items %}
        <table class="table">
            <tbody>
                {% for item in cart_items %}
                <tr>
                    <td class="mob-td-sev">
                        <strong>Дверь:</strong>
                        <div>
                            {{ item.product.name }}
                        </div>
                    </td>
                    <td class="mob-td-one td-img">
                        {% with first_image=item.product.images.all|first %}
                        <img class="product-img" src="{{ first_image.image.url }}" alt="{{ product.name }}">
                        {% endwith %}
                    </td>
                    <td class="mob-td-sev">
                        <strong>Детали:</strong>
                        <div>Размер проема: <br class="mob-no">{{ item.size_option.size_name }}</div>
                        <div>Открывание: <br class="mob-no">{{ item.opening_side }}</div>
                        <div>Порог: <br class="mob-no">{{ item.threshold }}</div>
                        <div>Ручка: <br class="mob-no">{{ item.handle_option }}</div>
                    </td>
                    <td class="td-price mob-td-sev">
                        <strong>Цена:</strong>
                        <div>{{item.price|floatformat:0}} руб.</div>
                    </td>
                    <td class="td-quantity mob-td-sev">
                        <strong>Количество:</strong>
                        <div>{{ item.quantity }} шт.</div>
                    </td>
                    <td class="mob-td-sev">
                        <strong>Стоимость:</strong> <div>{{ item.total_price|floatformat:0 }} руб.</div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        </div>
        <br>
        <h4>Итоговая стоимость: {{ cart_items|sum_total|floatformat:0 }} руб.</h4>
        
        <!-- Форма заказа -->
        <div id="order-form" style="margin-top: 20px;">
            <h2>Детали заказа</h2>
            <br>
            {% if messages %}
            <div class="row">
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
                {% endfor %}
            </div>
            {% endif %}
            <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="action" value="checkout">
                <div class="form-group">
                    <label for="last_name">Фамилия</label>
                    <input type="text" class="form-control" id="last_name" name="last_name" value="{{ initial_data.last_name }}" required>
                </div>
            
                <div class="form-group">
                    <label for="first_name">Имя</label>
                    <input type="text" class="form-control" id="first_name" name="first_name" value="{{ initial_data.first_name }}" required>
                </div>
            
                <div class="form-group">
                    <label for="phone">Номер телефона</label>
                    <input type="tel" class="form-control" id="phone" name="phone" value="{{ initial_data.phone }}" required>
                </div>
            
                <div class="form-group">
                    <label foordersr="email">Электронная почта</label>
                    <input type="email" class="form-control" id="email" name="email" value="{{ initial_data.email }}" required>
                </div>
            
                <div class="form-group">
                    <label for="address">Адрес доставки:</label>
                    <input type="text" class="form-control" id="address" name="address" value="{{ initial_data.address }}">
                </div>
                <div class="form-group">
                    <label for="delivery_method">Способ доставки</label>
                    <select class="form-control" id="delivery_method" name="delivery_method" required>
                        <option value="ТК Деловые линии">ТК Деловые линии</option>
                        <option value="ТК КИТ">ТК КИТ</option>
                        <option value="ТК Байкал-Сервис">ТК Байкал-Сервис</option>
                        <option value="Самовывоз">Самовывоз</option>
                        <option value="Сборный груз (проходящая машина), для близлежащих регионов">Сборный груз (проходящая машина), для близлежащих регионов</option>
                        <option value="Другой вариант">Другой вариант</option>
                    </select>
                </div>
                <!-- Поле custom_delivery -->
                <div class="form-group" id="custom_delivery_group" style="display: none;">
                    <label for="custom_delivery">Введите способ доставки</label>
                    <input type="text" class="form-control" id="custom_delivery" name="custom_delivery" style="margin-left: 70px; width: calc(100% - 70px);">
                </div>
                <div class="form-group">
                    <label for="payment_method">Способ оплаты</label>
                    <select class="form-control" id="payment_method" name="payment_method" required>
                        <option value="Оплата по QR коду">Оплата по QR коду</option>
                        <option value="Оплата переводом на карту">Оплата переводом на карту</option>
                        <option value="Банковский перевод с НДС">Банковский перевод с НДС</option>
                        <option value="Банковский перевод без НДС">Банковский перевод без НДС</option>
                        <option value="Оплата картой в офисе">Оплата картой в офисе</option>
                        <option value="Оплата наличными в офисе">Оплата наличными в офисе</option>
                    </select>
                </div>
                <div class="nav-buttons" style="margin-top: 20px;">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="col text-start">
                          <button type="submit" class="order">Подтвердить заказ</button>
                        </div>
                        <div class="col text-end" ><a href="{{ request.META.HTTP_REFERER|default:'/' }}" class="mybtn btn-back"> <span><svg style="margin-top: -4px;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
                          </svg> Назад</span></a>
                        </div>

                     </div>
                </div>
            </form>
        </div>
        {% else %}
        <p>Ваша корзина пуста.</p>
        {% endif %}
        
        

    </div>

    <br>

    
    <script>
        document.getElementById('delivery_method').addEventListener('change', function () {
            const customDeliveryGroup = document.getElementById('custom_delivery_group');
            if (this.value === 'Другой вариант') {
                customDeliveryGroup.style.display = 'block';
            } else {
                customDeliveryGroup.style.display = 'none';
            }
        });
    </script>
    
</div>
    {% endblock container %}